.sidebar {
  height: 100vh;
  overflow-y: scroll;

  &:before {
    content: "";
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 16.66667%;
    background: tint($blue-grey50, 50%);
    border-right: 1px solid $grey300;
    height: 100%;
  }
}

.content {
  padding: 0 25px;
  position: relative;
  height: 100%;
}

.cui-control-group {
  width: 100%;
  margin-right: 0 !important;
  margin-bottom: 15px;
}

.cui-table {
  tr > td {
    font-size: $cui-font-size-xs;
  }
}
