.p-3 {
  padding: 25px;
}

.pt-3 {
  padding-top: 25px;
}

.py-3 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.p-2 {
  padding: 15px;
}

.pt-2 {
  padding-top: 15px;
}

.py-2 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.p-1 {
  padding: 5px;
}

.pt-1 {
  padding-top: 5px;
}

.py-1 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.px-1 {
  padding-left: 5px !important;
}

.px-2 {
  padding-left: 15px !important;
}

.px-3 {
  padding-left: 25px !important;
}
.p-0 {
  padding: 0 !important;
}

.m-0 {
  margin: 0 !important;
}
