.synth-loading {
  fill: none;
  stroke: #222;
  stroke-linecap: round;
  stroke-width: 8%;
}

use {
  stroke: #fff;
  animation: a 2s linear infinite;
}

@keyframes a {
  to {
    stroke-dashoffset: 0px;
  }
}

.bg-anim {
  background: linear-gradient(
    170deg,
    #81ffef 0%,
    #f067b4 70%,
    #81ffef 10%,
    #f067b4 100%
  );
  background-size: 400% 400%;

  animation: AnimationName 3s ease infinite;
}

.user-avatar {
  box-shadow: $cui-elevation-2;
  border: 1px solid $blue-grey50;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-self: center;
  margin-left: 7px;

  &:hover {
    box-shadow: none;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 51%;
  }
  100% {
    background-position: 0% 50%;
  }
}
