.sidebar {
  //margin-top: 64px;
  height: 92vh;
  overflow-y: scroll;
  box-shadow: 0px 2px 4px -2px rgba(67, 90, 111, 0.3);
  position: relative;
  &::before {
    content: "";
    position: fixed;
    z-index: -1;
    left: 0;
    width: 14%;
    border-right: 1px solid $grey300;
    height: 100%;
  }

  &.right-sidebar {
    &::after {
      content: "";
      position: fixed;
      z-index: -1;
      right: 0;
      width: 33.33333%;
      background-color: $white;
      border-left: 1px solid $grey300;
      height: 100%;
      max-height: 92vh;
      overflow-y: scroll;
    }
  }
}

.img {
  width: 100%;
  height: auto;
}

.full-height {
  height: 500px;
}

.navbar {
  box-shadow: $cui-elevation-1;
  background-color: rgba($color: $white, $alpha: 0.995);
  // position: fixed;
  //left: 0;
  //top: 0;
  //right: 0;
  height: 68px;
}

.content {
  padding: 0 25px 25px;
  position: relative;
  height: 100%;
}
