.cui-control-group {
  width: 100%;
  margin-right: 0 !important;
  margin-bottom: 15px;
}

.cui-table {
  th,
  td,
  tr {
    font-size: $cui-font-size-xs;
  }
}

.cui-card {
  background: $black-500 !important;
}

.cui-tree-node {
  cursor: pointer;
}
