.cui-button-label > .synth-svg {
  display: inline-block;
}

.cui-xs > .cui-button-label > .synth-svg {
  width: 12px;
}
.cui-sm > .cui-button-label > .synth-svg {
  width: 15px;
}
.cui-md > .cui-button-label > .synth-svg {
  width: 18px;
}
.cui-lg > .cui-button-label > .synth-svg {
  width: 20px;
}
.cui-xl > .cui-button-label > .synth-svg {
  width: 22px;
}
